 
.area {
            fill: steelblue;
            clip-path: url(#clip);
        }

        .zoom {
            cursor: move;
            fill: none;
            pointer-events: all;
        }

.navbar1 {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 450px;
    margin-left: 950px;
    margin-top: 50px;
}