body {
}



.navbar1 {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 450px;
    margin-left: 950px;
    margin-top: 50px;
}


.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 450px;
  margin-left: 950px;
  
  margin-top:250px;
}


/*input[type=text], select {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100px;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}*/




/*legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}*/

/*input {
    margin: .4rem;
}

label {
    display: inline-block;
    text-align: right;
    width: 20%;
}


#submit {
    margin-left: 130px;
    margin-top: 20px;
}*/














/*div.stick{
    position: -webkit-sticky;
    
    top:0;
    padding:5px;
    background-color:green;
    border:2px solid dotted;

}
#navbar {
  overflow: hidden;
  background-color: #333;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}*/

