 body {
        font: 10px sans-serif;        
    }

    text {
        fill: #000;
    }

    path.candle {
        stroke: #000000;
    }

        path.candle.body {
            stroke-width: 0;
        }

        path.candle.up {
            fill: #00AA00;
            stroke: #00AA00;
        }

        path.candle.down {
            fill: #FF0000;
            stroke: #FF0000;
        }

    rect.pane {
        cursor: move;
        fill: none;
        pointer-events: all;
    }


    .container{
        width: 300px;
        margin: auto;
    }

.navbar1 {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 450px;
    margin-left: 950px;
    margin-top: 50px;
}
